#mainbox {
    width: 100vw;
    height: calc(100vh - 100px);
    background: url(web1.png) center bottom/100% 100% no-repeat fixed;
}

#text {
    float: right;
    width: 38vw;
    margin-top: 20vh;
    margin-right: 10vw;
    font-size: 5em;
    text-align: right;
    color: #323232;
}

@media only screen and (max-width: 1000px){
    #text {
        font-size: 3em;
        margin-top: 30vh;
    }
}