#mainbox {
    width: 100vw;
    height: calc(100vh - 106px);
    background: url(../img/web1.png) center center/100% 100% no-repeat fixed;
}

#text {
    float: right;
    width: 38vw;
    margin-top: 20vh;
    margin-right: 10vw;
    font-size: 5em;
    text-align: right;
    color: #323232;
}

/* Tornando a imagem de fundo responsiva: - Turning background image responsive*/

@media only screen and (max-width: 900px){
    #text {
        font-size: 3em;
        margin-top: 30vh;
    }

    #mainbox {
        background: url(../img/web2.png) center bottom/100% 100% no-repeat fixed;
    }
}

@media only screen and (max-width: 500px){
    #text {
        font-size: 2em;
        margin-top: 30vh;
    }

    #mainbox {
        background: url(../img/web3.png) center bottom/100% 100% no-repeat fixed;
    }
}
