body {
    background-color: #ADC178;
}

ul {
    padding: 0px;
    list-style-type: none;
}

img {
    position: relative;
    max-width:200px;
    max-height:200px;
    width: auto;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.container {
    align-content: center;
}

p, h1, h2, h3 {
    font-family: 'Itim', cursive; font-family: 'Roboto', sans-serif;
    color: #39393A;
}

p {
    font-size: 15px;
}

.card {
    background-color: FFFFFF;
    max-width: 900px;
    position: relative;
    width: 90%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    padding:20px 20px 20px 20px;
}

.text-center {
    text-align-last: center;
}

.textinho {
    text-align-last: left;
}

/*profile*/
.img-circle {
    border-radius: 50%;
}


/*redes sociais*/
.list-inline {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.button {
  border: none;
  background-color: #ADC178;
  color: #39393A;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 20px;
  border-radius: 4px;
  cursor: pointer;
}


/* histórico css */
.product-frame,
.basket-labels,
.basket-product {
  width: 100%;
}

.basket,
.basket-labels,
.item,
.price,
.price_,
.quantity,
.subtotal,
.subtotal_,
.basket-product,
.product-image {
  float: left;
}

.price:before,
.subtotal:before {
  content: 'R$';
}

.item {
  width: 55%;
}

.price,
.price_,
.quantity,
.subtotal,
.subtotal_ {
  width: 15%;
}

.subtotal, .subtotal_ {
  text-align: right;
}

.item-heading {
  padding-left: 4.375rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.basket-product {
  border-bottom: 1px solid #323232;
  padding: 1rem 0;
  position: relative;
}

.product-image {
    width: 35%;
}

.product-frame {
    border: 1px solid #fff;
}

.product-details {
    width: 65%;
    padding: 0 1.5rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


.basket-labels,
.basket-product {
  width: 100%;
}

.basket,
.basket-module,
.basket-labels,
.item,
.price,
.price_,
.quantity,
.subtotal,
.subtotal_,
.basket-product,
.product-image,
.product-details {
  float: left;
}

.basket-labels {
  border-bottom: 1px solid #323232;
  margin-top: 1.625rem;
}

.edit {
    border: none;
    text-decoration: underline;
    background-color: #fff;
}
