<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Editar/Adicionar produto</title>
    <link rel="icon" href="../img/logo.png">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="../main/main-style.css" rel="stylesheet">
    <link href="../main/nav-bar-style.css" rel="stylesheet">
    <link href="editProduct.css" rel="stylesheet">
    <script src="../data/products.js"></script>

  </head>
  <body>
    <!-- ------------------- Header --------------------- -->

        <div id="nav-bar-header"> </div>





    <!-- ------------------- Fim header - Header end--------------------- -->
    <!-- ------------------- login    --------------------- -->
  <br><h1>Editar/Adicionar informações do produto</h1><br>
  <div id="app" class="register">
    <form class="loginform" action="index.html" method="post">
      <div class="side">

        <p class = "errors" v-if="errors.length">
          <b>Por favor, corrija os seguintes erros:</b>
          <ul>
            <li v-for="error in errors">{{ error }}</li>
          </ul>
        </p>

        <div class="form lable-float">
          <input type="text" name="name" autocomplete="off" class="name_ show_placeholder" placeholder="Produto" v-model="nome" required/>
          <label>Nome</label>
        </div>
        <div class="form lable-float">
          <input type="text" name="preco" autocomplete="off" class="price_ show_placeholder" placeholder="50.00" v-model="preco" required/>
          <label>Preço</label>
        </div>
        <div class="form lable-float">
          <input type="text" name="categoria" autocomplete="off" class="cat_ show_placeholder" placeholder="Ferramentas" v-model="categoria" required/>
          <label>Categoria</label>
        </div>
      </div>

      <div class="side">
        <div class="form lable-float">
          <input type="text" name="img" autocomplete="off" class="img_ show_placeholder" placeholder="imagem.url" v-model="imagem" required/>
          <label>Imagem</label>
        </div>
        <div class="form lable-float">
          <input type="text" name="cuidados" autocomplete="off" class="cuidados_ show_placeholder" placeholder="Cuidados" v-model="cuidados" required/>
          <label>Cuidados</label>
        </div>

        <!-- Campo de email - Email input -->
          <div class="form form-button side">
            <button type="button" name="button" class="btt-save" v-on:click.prevent.stop="checkForm()">Salvar alterações</button>
          </div>
      </div>
    </form>
  </div>
  <!-- ------------------- Fim login - Login end --------------------- -->

    <!-- bootstrap scripts -->
    <script src="../controller/nav-bar.js"></script>
    <script src="editProduct.js"></script>

    <script src = "https://unpkg.com/vue"></script>
    <script src = "vue.js"></script>

    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>


  </body>



</html>
