<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Registro</title>
    <link rel="icon" href="../img/logo.png">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="../main/main-style.css" rel="stylesheet">
    <link href="../main/nav-bar-style.css" rel="stylesheet">
    <link href="../login/register.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="loginstyle.css" rel="stylesheet">

    <script type="text/javascript" src=../data/users.js></script>
    <script type="text/javascript" src=register.js>

    </script>
    <script type="text/javascript">
      document.addEventListener("DOMContentLoaded", reg_setup);
    </script>
  </head>
  <body>
    <!-- ------------------- Header --------------------- -->

    <div id="nav-bar-header"> </div>





    <!-- ------------------- Fim header - Header end--------------------- -->
    <!-- ------------------- login    --------------------- -->
  <br><h1>Registre-se</h1><br>
  <div id="app" class="register">
    <form class="loginform" action="index.html" method="post">
    <div class="side">

      <p class = "errors" v-if="errors.length">
        <b>Por favor, corrija os seguintes erros:</b>
        <ul>
          <li v-for="error in errors">{{ error }}</li>
        </ul>
      </p>

      <h5>Informações Pessoais</h5>
      <div class="form lable-float">
        <input type="text" name="name" autocomplete="off" class="name_" placeholder=" " v-model="nome" required/>
        <label>Nome</label>
      </div>
      <div class="form lable-float">
        <input type="text" name="last_name" autocomplete="off" class="lastname_" placeholder=" " v-model="sobrenome" required/>
        <label>Sobrenome</label>
      </div>
      <div class="form lable-float">
        <input type="tel" name="phone" autocomplete="off" class="phone_" placeholder="(99)9999-9999" id="phone" v-model="telefone" required/>
        <label>Telefone</label>
      </div>
      <div class="form lable-float">
        <input type="email" name="email" autocomplete="off" class="email_" placeholder=" " v-model="email" required/>
        <label>Email</label>
      </div>
      <!-- Campo de senha - password input -->
      <div class="form lable-float">
        <input type="password" placeholder=" " class="password_" name="password" v-model="senha" required/>
        <label>Senha</label>
      </div>
      <div class="form lable-float">
        <input type="password" placeholder=" " class="password_" name="password" v-model="senha2" required/>
        <label>Repita a senha</label>
      </div>
    </div>
    <!-- Formulário - Forms -->
      <!-- Botão "Entrar" - Submit button -->
      <div class="side">

        <h5>Endereço</h5>
        <div class="form lable-float">
          <input type="text" placeholder=" " class="country_" name="country" v-model="pais" required/>
          <label>País</label>
        </div>
        <div class="double_input">
          <div class="form lable-float" id="city">
            <input type="text" name="city" autocomplete="off" class="city_" placeholder=" " v-model="cidade" required/>
            <label>Cidade</label>
          </div>
          <div class="form lable-float" id="uf">
            <input type="text" name="UF" autocomplete="off" class="uf_" placeholder=" " v-model="UF" required/>
            <label>UF</label>
          </div>
        </div>
        <div class="double_input">
          <div class="form lable-float" id="local">
            <input type="text" name="local" autocomplete="off" class="adress_" placeholder=" " v-model="endereco" required/>
            <label>Endereço</label>
          </div>
          <div class="form lable-float" id="num">
            <input type="text" name="num" autocomplete="off" class="number_" placeholder=" " v-model="num" required/>
            <label>Numero</label>
          </div>
        </div>
        <div class="form lable-float">
          <input type="text" name="complement" autocomplete="off" class="comp_" placeholder=" "/>
          <label>Complemento</label>
        </div>

        <!-- Campo de email - Email input -->
        <div class="form form-button">
          <button type="button" name="button" class="btt-reg" v-on:click.prevent.stop="checkForm()">Registrar</button>
        </div>
      </div>
    </form>
  </div>
  <!-- ------------------- Fim login - Login end --------------------- -->

    <script src = "https://unpkg.com/vue"></script>
    <script src = "vue.js"></script>

    <!-- bootstrap scripts -->
    <script src="register.js"></script>
    <script src="../controller/nav-bar.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>


  </body>



</html>
