<!DOCTYPE html>
<html>
  <meta>
    <meta charset="UTF-8">
    <title>User Info</title>
  </meta>

  <body>

    <div id="app">
      <h2>User Information</h2>

      <label>Username</label> <input v-model="username" type="text">
      <br> <br>
      <label>Password</label> <input v-model="password" type="text">
      <br> <br>
      <label>Email</label>    <input v-model="email"    type="text">
      <br> <br>
      <label>Address</label>  <input v-model="address"  type="text">
      <br> <br>
      <input type="button" value="Read" @click="read">
      <input type="button" value="Delete" @click="del">
      <input type="button" value="Create" @click="write">
    </div>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.6/vue.min.js">
    </script>

    <script>
      new Vue({
        el: "#app",
        data: {
          username: "john",
          password: "",
          email: "",
          address: ""
        },
        methods: {
          //read function
         read: async function() {
           console.log(this.username);
           try {
             let fetchData = {
               method: 'GET'
             }
     		     let resp = await fetch("http://localhost:3000/store/" + this.username, fetchData);
     		     resp = await resp.json();
     		     console.log("resp: "+JSON.stringify(resp));

     		     this.username= resp.username;
     		     this.password= resp.password;
     		     this.email = resp.email;
     		     this.address= resp.address;
     		   }
     		   catch (e) {alert("Error: " + e);}
          },
          //Create function
          write: async function() {
            try {
              let data = {
                username:this.username,
                password:this.password,
                email:this.email,
                address:this.address
              }
              data = JSON.stringify(data);
              let fetchData = {
                method: 'PUT',
                body: data,
                headers:{
                  'Content-Type':'application/json'
                },
              }
              console.log(fetchData);
      		     let resp = await fetch(("http://localhost:3000/store/" + this.username), fetchData);
      		     resp = await resp.json();
      		     console.log("resp: "+JSON.stringify(resp));
      		   }
      		   catch (e) {alert("Error: " + e);}
            },
            //delete function
           del: async function() {
             try {
               let fetchData = {
                 method: 'DELETE'
               }

       		     let resp = await fetch("http://localhost:3000/store/" + this.username, fetchData);
       		     resp = await resp.json();
       		     console.log("resp: "+JSON.stringify(resp));
       		   }
       		   catch (e) {alert("Error: " + e);}
            }
        }
      });
   </script>
 </body>
</html>
