body {
    background-color: #ADC178;
}

#mainbox {
    height: 100%;
    margin: 100px 100px;
}

.card-custom {
    margin: 10px;
}

.img-hover {
    opacity: 100%;
    transition-duration: 2s;
}

.img-hover:hover {
    opacity: 90%;
    transition-duration: 2s;
}

.card-body {
    text-align: center;
}

.btn-custom {
    background-color: #ADC178;
    border-color: #ADC178;
    color: #323232;
}

.btn-custom:hover {
    background-color: #323232;
    color: #ADC178;
    border-color: #323232;
}
